$viewport-min-width: 1000px;

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'BauPro';
    src:    url('./fonts/eot/BauPro.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BauPro';
    src:    url('./fonts/eot/BauPro-Italic.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BauPro';
    src:    url('./fonts/eot/BauPro-Medium.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BauPro';
    src:    url('./fonts/eot/BauPro-MediumItalic.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BauPro';
    src:    url('./fonts/eot/BauPro-Bold.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BauPro';
    src:    url('./fonts/eot/BauPro-BoldItalic.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BauPro-Super';
    src:    url('./fonts/eot/BauPro-Super.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-Super.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'BauPro-SuperItalic';
    src:    url('./fonts/eot/BauPro-SuperItalic.eot') format('embedded-opentype'),
            url('./fonts/woff/BauPro-SuperItalic.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

body {
    font-family: 'BauPro';
    font-weight: normal;
    font-style: normal;
    margin-left: 2%;
    margin-right: 2%;
    @media (min-width: $viewport-min-width) {
        margin-left: 8.33%;
        margin-right: 8.33%;
    }
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    display: block;
    padding: 16px;
    margin: 8px;    // For horizontal margin only
    overflow: initial;
}

.col-default-padding {
    // For vertical padding only
    padding-left: 8px;
    padding-right: 8px;
}

// (Temporarily depricated)
// .row-default-padding {
//     padding-top: 8px;
//     padding-bottom: 8px;
// }

.row:after{
    content: " ";
    clear: both;
    display: table;
}

/* Set All Text Margin to Zero */
h1 {
    margin: 0;
}

p {
    margin: 0;
}

/* Responsive Col */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.float-right {
    float: right;
}


/* Collapsible Measures */
@media (max-width: $viewport-min-width) {
    .row-covering {
        width: 100%;
        flex-wrap: wrap;
    }
}

