.icon-linked-in {
    background-image: url('/img/icons/linkedin-in.svg');
}

.icon-mail {
    background-image: url('/img/icons/envelope-solid.svg');
}

.icon-github {
    background-image: url('/img/icons/github.svg');
}

.icon-copy {
    background-image: url('/img/icons/copy.svg');
}

.icon-x {
    background-image: url('/img/icons/x.svg');
}

.icon-x-circle {
    background-image: url('/img/icons/x-circle.svg');
}

.icon-exit {
    background-image: url('/img/icons/exit.svg');
}

.icon-circle-up {
    background-image: url('/img/icons/circle-up.svg');
}

.icon-circle-down {
    background-image: url('/img/icons/circle-down.svg');
}

.icon-circle-left {
    background-image: url('/img/icons/circle-left.svg');
}

.icon-circle-right {
    background-image: url('/img/icons/circle-right.svg');
}

.icon-chevron-down {
    background-image: url('/img/icons/circle-right.svg');
}

[class*="icon-"] {
    background-repeat: no-repeat;
    background-position: center;
}