// $line-thickness: 0.25em;  // 1
// $line-color: #333;       // 2
// $line-contrast: 500%;    // 3
// $photo-brightness: 90%;  // 4
// $photo-contrast: 150%;   // 5
// $photo-blur: 3px;        // 6
// $blend-mode: hard-light; // 7

.flux-foreground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.flux-content {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

.bg1-normal {
    background-image: url('/img/flux/bg1-normal.svg');
}

.bg1-saturate {
    background-image: url('/img/flux/bg1-saturate.svg');
}

.bg2-normal {
    background-image: url('/img/flux/bg2-normal.svg');
}

.bg2-saturate {
    background-image: url('/img/flux/bg2-saturate.svg');
}

.bg3-normal {
    background-image: url('/img/flux/bg3-normal.svg');
}

.bg3-saturate {
    background-image: url('/img/flux/bg3-saturate.svg');
}

.bg4-normal {
    background-image: url('/img/flux/bg4-normal.svg');
}

.bg4-saturate {
    background-image: url('/img/flux/bg4-saturate.svg');
}

// .flux-canvas {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background: repeating-radial-gradient(
//         circle at 0 -25%,
//         #fff,
//         $line-color calc($line-thickness / 2),
//         #fff $line-thickness
//     );
//     filter: contrast($line-contrast);
// }

// .flux-canvas img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center;
//     mix-blend-mode: $blend-mode;
//     filter:
//       grayscale(1) 
//       brightness($photo-brightness) 
//       contrast($photo-contrast) 
//       blur($photo-blur);
//   }